<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.instclone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InstClone">
        <activity android:name=".Profile.recentChatsActivity"></activity>
        <activity android:name=".Profile.myPostsActivity" />
        <activity android:name=".Profile.myFriendsActivity" />
        <activity android:name=".Profile.requestsActivity" />
        <activity android:name=".usersStuff.otherUserProfileActivity" />
        <activity android:name=".usersStuff.findUserActivity" />
        <activity android:name=".Profile.myProfileActivity" />
        <activity android:name=".posts.addPostActivity" />
        <activity android:name=".Profile.updateProfileActivity" />
        <activity android:name=".signin.loginActivity" />
        <activity android:name=".signin.newAccActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>